################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/GTA-Reallife/.vs/GTA-Reallife/v15/Server/sqlite3
/GTA-Reallife/Server/obj/Debug
/.vs
/GTA-Reallife/.vs/GTAReallife/v15/Server/sqlite3
